* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121315;
}

.Hero-main {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: start;
  margin: 2rem 0;
}
.Hero-main .left {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 30px;
  padding: 2rem 4rem;
}
.Hero-main .left .top {
  margin: 2rem 0;
}
.Hero-main .left .top h3 {
  color: #e3e6df;
  text-transform: uppercase;
  font-size: clamp(1rem, 0.7594rem + 1.203vw, 2rem);
  font-weight: bolder;
  padding: 10px 0;
  font-style: normal;
  line-height: 1.5;
}
.Hero-main .left .top h3 span {
  color: #8ebbff;
}
.Hero-main .left .top h1 {
  color: #e3e6df;
  font-size: clamp(1.5rem, 1.1391rem + 1.8045vw, 3rem);
  font-weight: bolder;
  padding: 10px 0;
  font-style: normal;
  line-height: 1.5;
  margin-bottom: 3rem;
}
.Hero-main .left .bottom {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
.Hero-main .left .bottom p {
  color: #e3e6df;
  font-size: clamp(1rem, 0.7594rem + 1.203vw, 2rem);
  font-weight: 400;
  padding: 10px 0;
  font-style: normal;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.Hero-main .left .bottom .ceo {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.Hero-main .left .bottom .ceo img {
  width: 10%;
  height: auto;
  border-radius: 50%;
}
.Hero-main .left .bottom .ceo h3 {
  color: #8ebbff;
  font-size: clamp(0.5rem, 0.3797rem + 0.6015vw, 1rem);
  font-weight: bolder;
  font-style: normal;
  line-height: 1.5;
  margin-bottom: 3rem;
}
.Hero-main .left .bottom .ceo h3 span {
  color: #e3e6df;
  display: block;
  font-weight: 100 !important;
}
.Hero-main .right {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: end;
  align-items: end;
}
.Hero-main .right img {
  width: 60%;
  height: auto;
}

@media screen and (max-width: 980px) {
  .Hero-main .left {
    gap: 0px;
  }
  .Hero-main .right img {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .Hero-main {
    flex-direction: column;
  }
  .Hero-main .left {
    width: 100%;
  }
  .Hero-main .right {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .Hero-main .right img {
    width: 80%;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .Hero-main .left {
    padding: 1rem 1.5rem;
  }
  .Hero-main .left .top h1 {
    margin-bottom: 1rem;
  }
  .Hero-main .left .top a {
    padding: 1rem 1.5rem;
  }
  .Hero-main .left .bottom {
    gap: 10px;
  }
  .Hero-main .left .bottom p {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 360px) {
  .Hero-main {
    margin: 0;
  }
}
.About1 {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem;
}
.About1 .main {
  background-color: #30353b;
  border-radius: 1rem;
  padding: 2rem 4rem;
}
.About1 .main .title {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: start;
  border-bottom: 1px solid #8ebbff;
}
.About1 .main .title h1 {
  color: #8ebbff;
  font-size: clamp(1rem, 0.7594rem + 1.203vw, 2rem);
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.About1 .main .about-content {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 2rem 5rem;
  gap: 40px;
}
.About1 .main .about-content .left {
  width: 60%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
.About1 .main .about-content .left h1 {
  color: #e3e6df;
  font-size: clamp(1.5rem, 1.1391rem + 1.8045vw, 3rem);
  font-weight: 500;
  line-height: 1.5;
  font-style: normal;
}
.About1 .main .about-content .left p {
  color: #e3e6df;
  font-size: clamp(0.5rem, 0.3797rem + 0.6015vw, 1rem);
  font-weight: 500;
  line-height: 1.5;
  font-style: normal;
}
.About1 .main .about-content .right {
  width: 40%;
  display: flex;
  justify-content: end;
  align-items: end;
}
.About1 .main .about-content .right ul {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 40px;
}
.About1 .main .about-content .right ul li h1 {
  color: #8ebbff;
  font-size: clamp(1.5rem, 1.1391rem + 1.8045vw, 3rem);
  font-weight: 600;
  font-style: normal;
  line-height: 1.5;
}
.About1 .main .about-content .right ul li p {
  color: #e3e6df;
  font-size: clamp(0.8rem, 0.7519rem + 0.2406vw, 1rem);
  font-weight: 100;
  font-style: normal;
  line-height: 1.5;
}

@media screen and (max-width: 980px) {
  .About1 .main .about-content {
    padding: 1rem 0;
  }
}
@media screen and (max-width: 720px) {
  .About1 .main .about-content {
    flex-direction: column;
  }
  .About1 .main .about-content .left {
    width: 100%;
  }
  .About1 .main .about-content .right {
    width: 100%;
    justify-content: start;
    align-items: start;
  }
  .About1 .main .about-content .right ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
  }
}
@media screen and (max-width: 480px) {
  .About1 .main {
    padding: 2rem;
  }
}
@media screen and (max-width: 380px) {
  .About1 .main .about-content .right ul {
    display: block;
  }
}
.About2 {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 4rem;
  gap: 50px;
}
.About2 .left {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.About2 .left img {
  width: 100%;
  height: auto;
}
.About2 .right {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
.About2 .right h3 {
  font-size: clamp(0.8rem, 0.7519rem + 0.2406vw, 1rem);
  font-weight: 200;
  font-style: normal;
  line-height: none;
  color: #8ebbff;
  text-transform: uppercase;
}
.About2 .right h1 {
  color: #e3e6df;
  font-size: clamp(1.5rem, 1.1391rem + 1.8045vw, 3rem);
  font-weight: 200;
  font-style: normal;
  line-height: none;
}
.About2 .right p {
  color: #e3e6df;
  font-size: clamp(0.8rem, 0.7038rem + 0.4812vw, 1.2rem);
  font-weight: 400;
  font-style: normal;
  line-height: none;
}

@media screen and (max-width: 980px) {
  .About2 .right {
    gap: 10px;
  }
}
@media screen and (max-width: 720px) {
  .About2 {
    flex-direction: column;
  }
  .About2 .left {
    width: 100%;
  }
  .About2 .right {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .About2 {
    padding: 2rem;
  }
  .About2 .right a {
    padding: 0.5rem 1rem;
  }
}
.services {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem 4rem;
}
.services .title {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 2rem 4rem;
  text-align: center;
}
.services .title h1 {
  color: #8ebbff;
  font-size: clamp(1.5rem, 1.1391rem + 1.8045vw, 3rem);
  font-weight: 800;
  font-style: normal;
  line-height: 1.5;
  text-transform: uppercase;
}
.services .title p {
  color: #e3e6df;
  font-size: clamp(0.8rem, 0.7038rem + 0.4812vw, 1.2rem);
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
}
.services .content {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 0 5rem;
  gap: 40px;
  margin-top: 5rem;
}
.services .content .left {
  width: 40%;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
.services .content .left h1 {
  color: #e3e6df;
  font-size: clamp(1.5rem, 1.1391rem + 1.8045vw, 3rem);
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
}
.services .content .left p {
  color: #e3e6df;
  font-size: clamp(0.8rem, 0.7038rem + 0.4812vw, 1.2rem);
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
}
.services .content .right {
  width: 60%;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.services .content .right .card {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  background-color: #30353b;
  margin: 2rem 0;
  border-radius: 0.5rem;
}
.services .content .right .card img {
  width: 30%;
  height: auto;
}
.services .content .right .card h1 {
  color: #8ebbff;
  font-size: clamp(1.3rem, 1.1316rem + 0.8421vw, 2rem);
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
}
.services .content .right .card p {
  color: #e3e6df;
  font-size: clamp(0.6rem, 0.5038rem + 0.4812vw, 1rem);
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
}
.services .content .right .card:nth-child(4), .services .content .right .card:nth-child(2) {
  margin-top: -40px;
}
.services .content .right .card:nth-child(1), .services .content .right .card:nth-child(3) {
  margin-bottom: -40px;
}

@media screen and (max-width: 980px) {
  .services {
    padding: 0;
  }
}
@media screen and (max-width: 820px) {
  .services {
    padding: 1rem;
  }
  .services .content {
    flex-direction: column;
    padding: 2rem;
  }
  .services .content .left {
    width: 100%;
  }
  .services .content .right {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .services .title {
    padding: 0;
  }
  .services .content {
    padding: 0;
  }
  .services .content .right {
    display: block;
  }
  .services .content .right .card:nth-child(4), .services .content .right .card:nth-child(2) {
    margin: 0;
  }
  .services .content .right .card:nth-child(1), .services .content .right .card:nth-child(3) {
    margin-bottom: 25px;
  }
  .services .content .left img {
    width: 20%;
  }
  .services .content .left a {
    padding: 0.5rem 1rem;
  }
}
.Team {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem 4rem;
  margin-top: 5rem;
}
.Team .title {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 2rem 4rem;
  text-align: center;
}
.Team .title h1 {
  color: #8ebbff;
  font-size: clamp(1.5rem, 1.1391rem + 1.8045vw, 3rem);
  font-weight: 800;
  font-style: normal;
  line-height: 1.5;
  text-transform: uppercase;
}
.Team .title p {
  color: #e3e6df;
  font-size: clamp(0.8rem, 0.7038rem + 0.4812vw, 1.2rem);
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
}
.Team .card-container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: #e3e6df;
}
.Team .card-container .card {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.Team .card-container .card img {
  width: 100%;
  height: auto;
}
.Team .card-container .card h2 {
  font-size: clamp(0.8rem, 0.7038rem + 0.4812vw, 1.2rem);
  font-weight: 700;
  font-style: normal;
  line-height: 1.5;
}
.Team .card-container .card p {
  font-size: clamp(0.5rem, 0.3797rem + 0.6015vw, 1rem);
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

@media screen and (max-width: 820px) {
  .Team {
    padding: 0;
    margin-top: 1rem;
  }
  .Team .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    place-items: center;
  }
  .Team .card-container .card {
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  .Team .card-container .card img {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .Team .card-container {
    padding: 0;
  }
}
@media screen and (max-width: 400px) {
  .Team .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    place-items: center;
    padding: 2rem;
  }
  .Team .card-container .card {
    width: 100%;
  }
  .Team .card-container .card img {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .faq-grid {
    display: block !important;
  }
}
.float {
  position: fixed;
  bottom: 1%;
  right: 1%;
  z-index: 9999999;
}
.float .btn-cssbuttons {
  position: relative;
  padding: 16px 32px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: white;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.float .btn-cssbuttons::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #8ebbff;
  border-radius: 24px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.float .btn-cssbuttons span {
  transition-delay: 0.05s;
}
.float .btn-cssbuttons span:first-child {
  padding-right: 7px;
}
.float .btn-cssbuttons span span {
  margin-left: 8px;
  transition-delay: 0.1s;
}
.float .btn-cssbuttons ul {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-50%);
}
.float .btn-cssbuttons ul li {
  flex: 1;
}
.float .btn-cssbuttons ul li a {
  display: inline-flex;
  vertical-align: middle;
  transform: translateY(55px);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.float .btn-cssbuttons ul li a:hover {
  opacity: 0.5;
}
.float .btn-cssbuttons:hover::before {
  transform: scale(1.2);
}
.float .btn-cssbuttons:hover ul li a {
  transform: translateY(0);
}
.float .btn-cssbuttons:hover ul li:nth-child(1) a {
  transition-delay: 0.15s;
}
.float .btn-cssbuttons:hover ul li:nth-child(2) a {
  transition-delay: 0.2s;
}
.float .btn-cssbuttons:hover ul li:nth-child(3) a {
  transition-delay: 0.25s;
}
.float .btn-cssbuttons span,
.float .btn-cssbuttons span span {
  display: inline-flex;
  vertical-align: middle;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.float .btn-cssbuttons:hover span,
.float .btn-cssbuttons:hover span span {
  transform: translateY(-55px);
}/*# sourceMappingURL=style.css.map */